<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788396001280-kksmql2eb895ndghlacuqig325al7g53.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788396001280-kksmql2eb895ndghlacuqig325al7g53</string>
	<key>API_KEY</key>
	<string>AIzaSyAyaCYNK_4DV0ag-lUjGLbwtStRJBTrU0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>788396001280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joncorn.MealPreppr</string>
	<key>PROJECT_ID</key>
	<string>mealpreppr</string>
	<key>STORAGE_BUCKET</key>
	<string>mealpreppr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:788396001280:ios:22029443864abdce52f0e5</string>
	<key>DATABASE_URL</key>
	<string>https://mealpreppr.firebaseio.com</string>
</dict>
</plist>
